# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
cache/0.mp4
cache/1.mp4
cache/2.mp4
cache/3.mp4
cache/4.mp4
cache/5.mp4
cache/6.mp4
cache/7.mp4
cache/8.mp4
cache/9.mp4
cache/10.mp4
cache/11.mp4
cache/12.mp4
cache/13.mp4
cache/14.mp4
cache/15.mp4
cache/16.mp4
cache/17.mp4
cache/18.mp4
cache/19.mp4
cache/20.mp4
cache/21.mp4
cache/22.mp4
cache/23.mp4
cache/24.mp4
cache/25.mp4
cache/26.mp4
cache/27.mp4
cache/28.mp4
cache/29.mp4
cache/30.mp4
cache/31.mp4
cache/32.mp4
cache/33.mp4
cache/34.mp4
cache/35.mp4
cache/36.mp4
cache/37.mp4
cache/38.mp4
cache/39.mp4
cache/40.mp4
cache/41.mp4
cache/73.mp4
cache/84.mp4
cache/89.mp4
cache/90.mp4
cache/91.mp4
cache/93.mp4
cache/96.mp4
cache/98.mp4
cache/99.mp4
cache/100.mp4
cache/101.mp4
cache/102.mp4
cache/103.mp4
cache/104.mp4
cache/105.mp4
cache/107.mp4
cache/108.mp4
cache/109.mp4
cache/110.mp4
cache/111.mp4
cache/112.mp4
cache/113.mp4
cache/114.mp4
cache/115.mp4
cache/116.mp4
cache/117.mp4
cache/118.mp4
cache/119.mp4
cache/120.mp4
cache/121.mp4
cache/122.mp4
cache/123.mp4
cache/124.mp4
cache/125.mp4
cache/126.mp4
cache/127.mp4
cache/128.mp4
cache/129.mp4
cache/130.mp4
cache/131.mp4
cache/132.mp4
cache/133.mp4
cache/134.mp4
cache/135.mp4
cache/136.mp4
cache/137.mp4
cache/139.mp4
cache/140.mp4
cache/141.mp4
cache/143.mp4
cache/144.mp4
cache/145.mp4
cache/146.mp4
cache/150.mp4
cache/151.mp4
cache/152.mp4
cache/154.mp4
cache/155.mp4
cache/156.mp4
cache/157.mp4
cache/159.mp4
cache/161.mp4
cache/162.mp4
cache/163.mp4
cache/164.mp4
cache/165.mp4
cache/166.mp4
cache/167.mp4
cache/168.mp4
cache/169.mp4
cache/170.mp4
cache/171.mp4
cache/172.mp4
cache/173.mp4
cache/174.mp4
cache/175.mp4
cache/176.mp4
cache/177.mp4
cache/178.mp4
cache/179.mp4
cache/180.mp4
cache/181.mp4
cache/182.mp4
cache/183.mp4
cache/184.mp4
cache/185.mp4
cache/186.mp4
cache/187.mp4
cache/188.mp4
cache/189.mp4
cache/190.mp4
cache/191.mp4
cache/193.mp4
cache/194.mp4
cache/195.mp4
cache/196.mp4
cache/197.mp4
cache/198.mp4
cache/199.mp4
cache/200.mp4
cache/201.mp4
cache/202.mp4
cache/203.mp4
cache/204.mp4
cache/205.mp4
cache/206.mp4
cache/207.mp4
cache/208.mp4
cache/209.mp4
cache/210.mp4
cache/211.mp4
cache/212.mp4
cache/213.mp4
cache/214.mp4
cache/215.mp4
cache/216.mp4
cache/217.mp4
cache/218.mp4
cache/219.mp4
cache/220.mp4
cache/221.mp4
cache/222.mp4
cache/223.mp4
cache/224.mp4
cache/225.mp4
cache/226.mp4
cache/228.mp4
cache/229.mp4
cache/230.mp4
cache/231.mp4
cache/232.mp4
cache/233.mp4
cache/234.mp4
cache/235.mp4
cache/236.mp4
cache/237.mp4
cache/238.mp4
cache/239.mp4
cache/240.mp4
cache/241.mp4
cache/242.mp4
cache/243.mp4
cache/244.mp4
cache/245.mp4
cache/246.mp4
cache/247.mp4
cache/248.mp4
cache/249.mp4
cache/250.mp4
cache/251.mp4
cache/252.mp4
cache/253.mp4
cache/254.mp4
cache/255.mp4
cache/256.mp4
cache/257.mp4
cache/258.mp4
cache/259.mp4
cache/260.mp4
cache/301.mp4
cache/302.mp4
cache/304.mp4
cache/305.mp4
cache/306.mp4
cache/307.mp4
cache/310.mp4
cache/311.mp4
cache/315.mp4
cache/318.mp4
cache/321.mp4
cache/322.mp4
cache/323.mp4
cache/324.mp4
cache/325.mp4
cache/326.mp4
cache/327.mp4
cache/328.mp4
cache/329.mp4
cache/330.mp4
cache/331.mp4
cache/332.mp4
cache/333.mp4
cache/334.mp4
cache/335.mp4
cache/336.mp4
cache/337.mp4
cache/338.mp4
cache/339.mp4
cache/340.mp4
cache/341.mp4
cache/342.mp4
cache/343.mp4
cache/344.mp4
cache/345.mp4
cache/346.mp4
cache/347.mp4
cache/348.mp4
cache/349.mp4
cache/350.mp4
cache/351.mp4
cache/352.mp4
cache/353.mp4
cache/354.mp4
cache/355.mp4
cache/356.mp4
cache/357.mp4
cache/358.mp4
cache/359.mp4
cache/360.mp4
cache/361.mp4
cache/362.mp4
cache/366.mp4
cache/367.mp4
cache/368.mp4
cache/370.mp4
cache/371.mp4
cache/375.mp4
cache/376.mp4
cache/377.mp4
cache/379.mp4
cache/381.mp4
cache/382.mp4
cache/394.mp4
cache/395.mp4
cache/396.mp4
cache/397.mp4
cache/398.mp4
cache/399.mp4
cache/400.mp4
cache/401.mp4
cache/402.mp4
cache/403.mp4
cache/404.mp4
cache/405.mp4
cache/406.mp4
cache/407.mp4
cache/408.mp4
cache/409.mp4
cache/410.mp4
cache/411.mp4
cache/412.mp4
cache/413.mp4
cache/414.mp4
cache/415.mp4
cache/416.mp4
cache/417.mp4
cache/418.mp4
cache/419.mp4
cache/420.mp4
cache/421.mp4
cache/422.mp4
cache/423.mp4
cache/424.mp4
cache/425.mp4
cache/426.mp4
cache/427.mp4
cache/428.mp4
cache/429.mp4
cache/430.mp4
cache/431.mp4
cache/432.mp4
cache/433.mp4
cache/434.mp4
cache/435.mp4
cache/436.mp4
cache/437.mp4
cache/438.mp4
cache/439.mp4
cache/440.mp4
cache/442.mp4
cache/443.mp4
cache/444.mp4
cache/445.mp4
cache/446.mp4
cache/447.mp4
cache/448.mp4
cache/449.mp4
cache/450.mp4
cache/451.mp4
cache/452.mp4
cache/490.mp4
cache/491.mp4
cache/492.mp4
cache/493.mp4
cache/494.mp4
cache/495.mp4
cache/496.mp4
cache/497.mp4
cache/498.mp4
cache/499.mp4
cache/500.mp4
cache/501.mp4
cache/502.mp4
cache/503.mp4
cache/504.mp4
cache/505.mp4
cache/506.mp4
cache/507.mp4
cache/508.mp4
cache/509.mp4
cache/510.mp4
cache/511.mp4
cache/512.mp4
cache/513.mp4
cache/514.mp4
cache/515.mp4
cache/516.mp4
cache/517.mp4
cache/518.mp4
cache/519.mp4
cache/520.mp4
cache/521.mp4
cache/522.mp4
cache/523.mp4
cache/524.mp4
cache/525.mp4
cache/526.mp4
cache/527.mp4
cache/532.mp4
cache/543.mp4
cache/557.mp4
cache/604.mp4
cache/605.mp4
cache/607.mp4
cache/608.mp4
cache/609.mp4
cache/610.mp4
cache/612.mp4
cache/613.mp4
cache/614.mp4
cache/616.mp4
cache/619.mp4
cache/624.mp4
cache/625.mp4
cache/629.mp4
cache/630.mp4
cache/638.mp4
cache/645.mp4
cache/684.mp4
cache/685.mp4
cache/686.mp4
cache/688.mp4
cache/689.mp4
cache/693.mp4
cache/694.mp4
cache/695.mp4
cache/697.mp4
cache/699.mp4
cache/700.mp4
cache/701.mp4
cache/702.mp4
cache/704.mp4
cache/705.mp4
cache/706.mp4
cache/707.mp4
cache/708.mp4
cache/709.mp4
cache/710.mp4
cache/711.mp4
cache/712.mp4
cache/713.mp4
cache/714.mp4
cache/715.mp4
cache/716.mp4
cache/717.mp4
cache/718.mp4
cache/719.mp4
cache/720.mp4
cache/721.mp4
cache/722.mp4
cache/723.mp4
cache/724.mp4
cache/725.mp4
cache/726.mp4
cache/727.mp4
cache/728.mp4
cache/729.mp4
cache/730.mp4
cache/731.mp4
cache/732.mp4
cache/733.mp4
cache/734.mp4
cache/735.mp4
cache/736.mp4
cache/737.mp4
cache/738.mp4
cache/739.mp4
cache/740.mp4
cache/741.mp4
cache/742.mp4
cache/743.mp4
cache/744.mp4
cache/746.mp4
cache/747.mp4
cache/748.mp4
cache/749.mp4
cache/750.mp4
cache/751.mp4
cache/752.mp4
cache/753.mp4
cache/754.mp4
cache/755.mp4
cache/756.mp4
cache/757.mp4
cache/758.mp4
cache/759.mp4
cache/760.mp4
cache/761.mp4
cache/763.mp4
cache/764.mp4
cache/765.mp4
cache/766.mp4
cache/767.mp4
cache/771.mp4
cache/772.mp4
cache/773.mp4
cache/774.mp4
cache/775.mp4
cache/777.mp4
cache/779.mp4
cache/781.mp4
cache/782.mp4
cache/783.mp4
cache/784.mp4
cache/785.mp4
cache/786.mp4
cache/787.mp4
cache/788.mp4
cache/789.mp4
cache/790.mp4
cache/791.mp4
cache/792.mp4
cache/793.mp4
cache/794.mp4
cache/795.mp4
cache/796.mp4
cache/797.mp4
cache/798.mp4
cache/799.mp4
cache/800.mp4
cache/801.mp4
cache/802.mp4
cache/803.mp4
cache/804.mp4
cache/805.mp4
cache/806.mp4
cache/807.mp4
cache/808.mp4
cache/809.mp4
cache/810.mp4
cache/811.mp4
cache/812.mp4
cache/814.mp4
cache/815.mp4
cache/816.mp4
cache/817.mp4
cache/819.mp4
cache/820.mp4
results/univl-cos-action-reduced.json
scripts/run_change-state.sh
.vscode/launch.json
